<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <%- include('../partials/head') %>
</head>
<link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
<script>
    new FroalaEditor('textarea');
  </script>
<body>
    <header class="nav-header header-layout">
        <div class="sticky-wrapper">
            <div class="menu-area">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-lg-start justify-content-between">
                        <div class="col-auto">
                            <h1 class="breadcumb-title" style="color:black">atlas.</h1>
                        </div>
                        <div class="col-auto">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                    <li class="menu-item">
                                        <a>Yönetim Paneli</a>
                                    </li>   
                                    <li class="menu-item">
                                        <a href="/">Ana Sayfa</a>
                                    </li>                         
                                </ul>
                            </nav>
                            <div class="navbar-right d-inline-flex d-lg-none">
                                <button type="button" class="menu-toggle icon-btn"><i class="far fa-bars"></i></button>
                            </div>
                        </div>
                        <div class="col-auto ms-auto d-lg-block d-none">
                    
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <div class="header-button">
                                <a href="/logout" class="btn d-xl-block d-none">
                                    Çıkış Yap
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="breadcumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Atlas Blog</h1>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <style>
        .gizli {
           display: none;
        }
        @import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');
.wrapper{
  display: inline-flex;
  background: #fff;
  height: 74px;
  width: 357px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.wrapper .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: #0069d9;
  background: #0069d9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}
    </style>
    <script src="/js/ckeditor/ckeditor.js"></script>
    <div class="service-details-area  overflow-hidden">
        <section class="blog-area space-top space-extra-bottom">
            <div class="container" >
                <div class="row">
                    <div class="col-xxl-8 col-lg-7">
                        <div class="service-page-single">
                            <div class="page-content">
                                <h2 class="page-title">Yeni Gönderi</h2>
                                <p class="mb-30">
                                    Gönderiyi yayınlamadan önce kontrol edin.
                                    <form action="/dashboard" method="POST">
                                        <label for="title">Konu Başlığı</label>
                                        <input type="string" id="title" name="title" required><br><br>
                                        <label for="description2">Kısa Açıklaması</label>
                                        <textarea name="description2" type="string" id="description2" required></textarea><br><br>
                                        
                                        <label for="description">Konu İçeriği</label>
                                        <textarea name="description" type="string" id="description" required></textarea><br><br>
                                        <script>
                                                	CKEDITOR.replace( 'description', {
		extraPlugins: 'codesnippet',
		codeSnippet_theme: 'monokai_sublime',
		height: 400
	})
    </script>
                                        <label for="image">Fotoğraf (Url)</label>
                                        <input name="image" type="url" id="image" required><br><br>      
                                        <input type="submit" value="Yayınla">
                                    </form>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-lg-5">
                        <aside class="sidebar-area">
                            <div class="widget widget_categories">
                                <h3 class="widget_title">Son yazılanlar</h3>
                                
                                <ul>     
                                    
                                    <% data.forEach(post => { %>

                                        <li>          
                                            <a href="/post/<%= post._id %>"><i class="fa-solid fa-arrow-right"></i><%= post.title %></a>
                                            </li>
                                        <% }) %>      
                                        <a href="/blog" class="link-btn style2"><i class="fas fa-arrow-right"></i> Diğer Gönderiler</a>              
                                </ul>
                            </div> 
                        </aside>
                    </div>
                </div> 
                </div>
            </div>
        </section>
    </div>
    <footer class="footer-wrapper footer-layout1" data-bg-src="/img/bg/footer-1-bg.png">    
    
        <div class="copyright-wrap">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-auto align-self-center"><p class="copyright-text text-center">© 2024 <a href="#">AtlasFit.</a> Tüm Hakları Saklıdır.</p></div>
                </div>                
            </div>
        </div>
    </footer>
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>
    <script src="/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/main.js"></script>
    
</body>
</html>