<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>AtlasFit - Fitness, Vucüt Geliştirme, Hesaplama Araçları</title>
<meta name="description" content="AtlasFit - Fitness, Vucüt Geliştirme, Hesaplama Araçları">
<meta name="keywords" content="AtlasFit - Fitness, Vucüt Geliştirme, Hesaplama Araçları">
<meta name="robots" content="INDEX,FOLLOW">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon.png">
<link rel="manifest" href="/img/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/img/favicons/ms-icon-144x144.html">
<meta name="theme-color" content="#ffffff">
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800&amp;family=Kumbh+Sans:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/fontawesome.min.css">
<link rel="stylesheet" href="/css/magnific-popup.min.css">
<link rel="stylesheet" href="/css/slick.min.css">
<link rel="stylesheet" href="/css/style.css">
