
<div class="sidemenu-wrapper">
    <div class="sidemenu-content">
        <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
        <div class="widget footer-widget">
            <div class="widget-about">
                <div class="footer-logo">
                           <a href="/">
                              <h1 
                              style=
                              "color: white;
                              ">
                              AtlasFit
                              </h1>
                          </a> </div>
             </div>
        </div>
        <div class="widget widget_nav_menu footer-widget">
            <h3 class="widget_title">Bağlantılar</h3>
            <ul class="menu">
                <li><a href="/">Hakkımızda</a></li>
                <li><a href="/">İçerikler</a></li>
                <li><a href="/">İletişim</a></li>
            </ul>
        </div>
    </div>
</div>

    <div class="sticky-wrapper">
        <div class="menu-area">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-start justify-content-between">
                    <div class="col-auto">
                        <div class="header-logo">
                           <a href="/">
                              <h1 
                              style=
                              "color: black;
                              ">
                              AtlasFit
                              </h1>
                          </a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <nav class="main-menu d-none d-lg-inline-block">
                            <ul>
                                <li class="menu-item">
                                    <a href="/blog">Blog</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Hesaplayıcı APP</a>
                                    <ul class="sub-menu">
                                        <li><a href="/hesap-kitle">Vucüt Kitle İndeksi</a></li>
                                        <li><a href="/hesap-bazal">Bazal Metabolizma</a></li>
                                        <li><a href="/hesap-kalori">Günlük Kalori İhtiyacı</a></li>
                                        <li><a href="/hesap-vucutyag">Vucüt Yağ Oranı</a></li>
                                        <li><a href="/hesap-idealkilo">İdeal Kilo Hesaplama</a></li>
                                        <li><a href="/hesap-gunluksu">Günlük Su İhtiyacı Hesaplama</a></li>
                                    
                                    </ul>
                                </li>                            
                            </ul>
                        </nav>
                        <div class="navbar-right d-inline-flex d-lg-none">
                            <button type="button" class="menu-toggle icon-btn"><i class="far fa-bars"></i></button>
                        </div>
                    </div>
                    <div class="col-auto ms-auto d-lg-block d-none">
                
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <div class="header-button">
                            <a href="/" class="btn d-xl-block d-none">
                                İletişim
                            </a>
                            <button type="button" class="btn btn-border sideMenuToggler">
                                <i class="far fa-bars"></i>                                         
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>